@import "_imports";

/*	LAYOUT
	====== */

@media screen {

	body {
		position: relative; 
	}
	.u-lFooter {
		clear: both;
	}
	.u-lHeader {
		padding: 4%;
	}
	.u-lFooter {
		padding: 4em $layoutContainerPadding--medium;
	}
	.galleria--content {
		margin: 0 0 2.5%;
	}
	.u-lContent,
	.u-lAside {
		padding: 4%;
	}
	.myDIV {
		display: none;
	}
}

/*	SMALL
	----- */

@media all and (min-width: $small) {

    .u-Search__field {
        width: 82%;
    }
	.u-lMain {
		width: 70%;
		float: right;
		padding: $layoutContainerPadding--medium;
	}
	.u-NavSite {
		width: 30%;
		float: left;
	}
	.u-lFooter {
		padding: 2em $layoutContainerPadding--medium;
	}
	.u-lHeader {
		padding: 1% $layoutContainerPadding--medium 0;
	}
	.u-Masthead__siteName {
		margin-top: 1.4em;
	}
	.u-lContent,
	.u-lAside {
		padding: 0;
	}
	.u-Search {
		width: 22.85%;
		position: absolute;
		right: auto;
		top: 1em;
		left: $layoutContainerPadding--medium;
	}

}

/*	MEDIUM
	------ */

@media all and (min-width: $medium) {
	html {
		padding: 1.5em 2%;
	}
	.u-lMain {
		width: 80%;
	}
	.u-NavSite {
		width: 20%;
	}
}

/*	LARGE
	----- */

@media all and (min-width: $large) {
	body {
		max-width: 75em;
		margin: 0 auto;
	}
	.u-lAside {
		padding: 0;
		padding-left: 1%;
		width: 30%;
		float: right;
	}
	.u-lContent {
		padding: 0;
		padding-right: 2%;
		width: 70%;
		float: left;
	}
	.u-biosInner .u-lMain {
		width: 75%;
	}
	.u-biosInner .u-NavSite {
		width: 25%;
	}
}

@media all and (min-width: $pointAtWhichSearchMovesToRight) {
	.u-Masthead__siteName {
		margin-top: 0;
	}
	.u-Search {
		left: auto;
		right: 1em;
        top: -4.05em;
	}
}

.modulesArea {
	b, p, .all-link, .moreLink, .Module__listItem {
		font: $sidebarModule--font;
	}
	.Module__header {
		font: $sidebarModule__header--font;
	}
	.Module__label--side { 
		font: $sidebarModule--labelFont;
	}
	.Module__name {
		font: $sidebarModule--nameFont;
	}
}

/* LAYOUT */

@media screen {
		.modulesArea {
			overflow: hidden;
			clear: both;
			@include v-pixel-fallback ('margin-bottom', 1.424rem);
			border-bottom: 1px solid tint($fontColor, 80%);
			border-top: 1px solid tint($fontColor, 80%);
			padding: 1.424em 0;
			text-align:center;
		}
		.Module__label, dd {
			margin: 0;
			padding: 0;
			display: inline-block;
		}
		.Module__header {
			margin-top: 0;
		}
		.Module__label {
			margin-right: .25em;
		}
		.Module__list {
			margin: 0;
			list-style:none;
			padding-left:0;
		}
		.Module__listItem {
			padding: .3em 0;
			margin:0;
		}
		.Module__listItem:last-of-type {
			margin-bottom: 1em;
		}
		.Module__name {
			margin-bottom: 0;
		}
		.moreLink {
			display: block;
	}

}
@media all and (min-width: $small) {
		.modulesArea {
			border-bottom: none;
			text-align: left;
		}
		.Module--halfWidth {
			width: 50%;
			float: left;
		}
		.Module--halfWidth:nth-child(2n+1) {
			padding-right: 1.424em;
		}
		/* Alerts banner fix Aug 4, 2017 */
		html:before {
			content: '';
			left: 0;
			top: 0;
			bottom: auto;
			padding-bottom: 3em;
			background-color: #f9c287;
			position: absolute;
			right: 0;
		}
		html {
			border-top: 0;
			padding-top: 0;
		}
		.u-lHeader {
			padding-top:4.75em
		}
		.u-Search {
			top:.5em;
		}
		/* end Alert */
}

/* COLOR */

.modulesArea {
	.Module__headerLink {
		@include link-colors(
			$sidebarModule__header--linkColor, 
			$sidebarModule__header--linkColorHoverFocus, 
			$sidebarModule__header--linkColorActive, 
			$sidebarModule__header--linkColorVisited, 
			$sidebarModule__header--linkColorHoverFocus
		);
	}
	.Module__listItem:first-child, 
	.Module__listItem:first-of-type {
		border-top: none;
	}
	.Module__listItem {
		border-top: $sidebarModule__listItem--border;
	}
}
.Module__desc {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}
.Module__label,
.Module__link,
.moreLink,
.Module__desc,
.Module__title,
.Module__desc,
.modulesArea b,
.modulesArea p {
	@include v-pixel-fallback("font-size", 0.889rem);
}
